@using BlazorBootstrap
@namespace lithuanian_language_learning_tool.Components

<div>
    <LineChart @ref="lineChart" Width="@Width" Height="@Height" />
</div>

@code {
    [Parameter] public int Width { get; set; } = 600;
    [Parameter] public int Height { get; set; } = 300;
    [Parameter] public List<string> X { get; set; } = new List<string>(); // Default empty list
    [Parameter] public List<double?> Y { get; set; } = new List<double?>(); // Default empty list

    private LineChart lineChart = default!;
    private ChartData chartData = default!;
    private LineChartOptions chartOptions = new LineChartOptions
        {
            Responsive = true
        };

    protected override async Task OnParametersSetAsync()
    {
        chartData = new ChartData
            {
                Labels = X,
                Datasets = new List<IChartDataset>
            {
                new LineChartDataset
                {
                    Label = "Taškai",
                    Data = Y,
                    BackgroundColor = "rgba(75, 192, 192, 0.2)",
                    BorderColor = "rgba(75, 192, 192, 1)",
                    BorderWidth = 2,
                    Fill = true
                }
            }
            };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await lineChart.InitializeAsync(chartData, chartOptions);
        }
    }
}
