@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rašybos užduotys</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <h1>Rašybos užduotys</h1>
    <form method="post" asp-action="SubmitSpellingTask">
        <div class="container">
            <label>
                Lietuva yra graž
                <span>
                    <select id="spelling" name="spelling">
                        <option value="a">a</option>
                        <option value="b">b</option>
                        <option value="c">c</option>
                    </select>
                </span> šalis su turtinga istorija ir kultūra...
            </label>
        </div>
        <button type="submit" class="button">Pateikti atsakymus</button>
    </form>
</body>
</html>
