@page "/apie"
<h1 class="page-title">Apie mus</h1>

<div class="about-container">
    <p>
        Sveiki atvykę į Gramatikonas! 
        Šis projektas sukurtas tam, kad padėtų žmonėms mokytis ir tobulinti savo lietuvių kalbos žinias per interaktyvias užduotis.
        Svetainėje galite spręsti įvairias užduotis, mokytis iš klaidų ir kaupti statistiką, kuri padės stebėti jūsų progresą.
    </p>

    <h2 class="about">Ką galite veikti mūsų svetainėje?</h2>
    <ul>
        <li><b>Spręsti rašybos užduotis:</b> Sužinokite, kaip taisyklingai rašyti lietuviškus žodžius.</li>
        <li><b>Spręsti skyrybos užduotis:</b> Patobulinkite sakinių skyrybą lietuvių kalboje.</li>
        <li><b>Kaupti statistiką:</b> Sekite savo progresą – geriausią rezultatą, atliktų užduočių kiekį, tikslumą ir dar daugiau.</li>
        <li><b>Lyderių lentelė:</b> Palyginkite savo rezultatus su kitais ir pasiekite geriausią vietą!</li>
    </ul>

    <h2 class="about">Mūsų tikslai</h2>
    <ul>
        <li>Padėti kiekvienam mokytis lietuvių kalbos smagiai ir efektyviai.</li>
        <li>Teikti įdomias ir edukacines užduotis.</li>
        <li>Skatinti mokymosi įpročius modernioje aplinkoje.</li>
    </ul>

    <h2 class="about">Kontaktai</h2>
    <p>
        Jei turite klausimų ar pasiūlymų, galite susisiekti su mumis el. paštu: <a href="mailto:info@gramatikonas.lt">info@gramatikonas.lt</a>
    </p>
    <br>
    <p>
        Prisijunkite, mokykitės, kaupkite statistiką ir siekite aukštumų!
    </p>
</div>