@page "/"
<h1>Lietuvių kalbos mokymosi įrankis</h1>
<div class="button-container">
    <NavLink href="/spellingtask" class="button">Rašybos užduotys</NavLink>
    <NavLink href="/punctuationtask" class="button">Skyrybos užduotys</NavLink>
</div>
<div class="container">
    <p>Pasirinkite užduočių tipą aukščiau, kad pradėtumėte mokytis.</p>
</div>
