@page "/"
@inject NavigationManager NavigationManager

<h1>Gramatikonas</h1>
<h2 class="about">Lietuvių kalbos mokymosi įrankis</h2>
<div class="button-container">
    <button class="button" @onclick="GoToTasks">Spręsti užduotis</button>
    <button class="button" @onclick="GoToAbout">Apie mus</button>
</div>

@code {
    private void GoToTasks()
    {
        NavigationManager.NavigateTo("/uzduotys");
    }

        private void GoToAbout()
    {
        NavigationManager.NavigateTo("/apie");
    }
}
