@page "/punctuationtask"
@inherits PunctuationTaskBase


    @if (!showSummary)
    {
        <h1>Skyrybos Užduotis</h1>

        <Timer @ref="timer" SecondsToRun="10" TimerOut="TimerOut"/>

        <div class="task-box" style="height: 300px;">
            <textarea @bind="userText" class="edit-textarea"></textarea>
        </div>

        @if (isCorrect)
        {
            <button class="next-button" @onclick="NextTask">Kita užduotis</button>
        }
        else
        {
            <button class="next-button" @onclick="CheckPunctuation">Pateikti</button>
            <button class="next-button" @onclick="SkipTask">Praleisti</button>
        }

        <div class="feedback">
            @if (feedbackMessage != null)
            {
                <p class="@feedbackClass">@feedbackMessage</p>
            }
        </div>
    }
    else
    {
        <div class="container">
            <h1>Užduoties apžvalga</h1>
            <p>Atlikai visas užduotis</p>
            <p>Teisingi atsakymai: @correctAnswersCount / @tasks.Count</p>
        
            <button class="next-button" @onclick="RestartTasks">Bandyti dar kartą</button>
        </div>
    }

