@page "/skyrybos/pasirinkimai"
@inject NavigationManager NavigationManager

<h1>Skyrybos užduotys</h1>

<div class="button-container">
    <button class="button" @onclick="NavigateToThematicTasks">Užduotys pagal tema</button>
    <button class="button" @onclick="NavigateToRandomTasks">Randomizuotos užduotys</button>
</div>

@code {
    private void NavigateToThematicTasks()
    {
        NavigationManager.NavigateTo("/skyrybos/pasirinkimai/temos");
    }

    private void NavigateToRandomTasks()
    {
        NavigationManager.NavigateTo("/skyrybos/pasirinkimai/randomizuoti");
    }
}