@page "/rasybos/pasirinkimai/temos"
@inject NavigationManager NavigationManager

<h1>Rašybos užduotys</h1>

<div class="button-container">
    <button class="button" @onclick="NavigateToTask">Nosinės</button>
    <button class="button" @onclick="NavigateToTask">Žodžių rašyba, kartu ir atskirai</button>
    <button class="button" @onclick="NavigateToTask">Įrašyk praleistas raides</button>
</div>

@code {
    private void NavigateToTask()
    {
        NavigationManager.NavigateTo("/rasybos/uzduotys");
    }

}