@page "/spellingtask"
@inherits SpellingTaskBase

<h1>Lietuvių Rašybos Užduotys</h1>

@if (currentTaskIndex < tasks.Count)
{
    <Timer @ref="timer" SecondsToRun="10" TimerOut="TimerOut"/>

    <div class="task-box">
        <p>@tasks[currentTaskIndex].Sentence</p>
    </div>

    <div class="options">
        @foreach (var option in tasks[currentTaskIndex].Options)
        {
            <button class="option" @onclick="showFeedback ? null : () => CheckAnswer(option)">@option</button>
        }
    </div>

    @if (showFeedback)
    {
        <div class="feedback @(isCorrect ? "correct" : "incorrect")">
            @feedbackMessage
        </div>
    }
    @if (showNextButton)
    {
        <button class="next-button" @onclick="NextTask">Kita užduotis</button>
    }
}
else
{
    <div class="container">
        <h1>Užduoties apžvalga</h1>
        <p>Teisingi atsakymai: @correctTotal / @tasks.Count</p>

        <button class="next-button" @onclick="RestartTasks">Bandyti dar kartą</button>
    </div>
}
