@page "/spellingtask"
@using Models
@inherits SpellingTaskBase

<h1>Lietuvių rašybos užduotys</h1>

@if (!startExercise)
{
    <TaskUploadPrompt OnTaskUploaded="LoadCustomTasks" OnUseDefaultTasks="StartWithDefaultTasks" />
}
else
{
    @if (!showSummary)
    {
        
        
        @if (reviewMode)
        {
            <TaskReview Task="currentTask" OnBackToSummary="() => showSummary = true" />
        }
        else 
        {
            <!-- Move the flash overlay outside the relative container -->
            @if (showFlash)
            {
                <div class="flash-overlay @(_lastAnswerCorrect ? "correct-flash" : "incorrect-flash")"></div>
            }

            <div class="task-container">
                <Timer @ref=timer SecondsToRun="5" TimerOut="TimerOut" />
                <div class="task-box" style="height: 300px;">
                    <textarea disabled @bind=currentTask.Sentence class="edit-textarea"></textarea>
                </div>

                <OptionsSection Task="currentTask" TTask="SpellingTask" OnOptionSelected="CheckAnswer" IsSelected="showFeedback" />
            </div>


            <!--
            // removed these buttons because tasks change automaticaly on answering - fast paced gameplay
            /*
            if (showFeedback)
            {
                <div class="feedback @(currentTask.TaskStatus ? "correct" : "incorrect")">
                    @feedbackMessage
                </div>
            }

            <button class="next-button" @onclick="NextTask">Kita užduotis</button>
            */
            -->
        }

        
    }
    else
    {
        <SummaryPage 
            CorrectAnswersCount="correctAnswersCount"
            TTask="SpellingTask"
            Tasks="tasks" 
            Score="score" 
            OnTaskSelected="GoToTask" 
            OnRestart="StartExercise" />
    }
}