@page "/rasybos/pasirinkimai"
@inject NavigationManager NavigationManager

<h1>Rašybos užduotys</h1>

<div class="button-container">
    <button class="button" @onclick="NavigateToThematicTasks">Užduotys pagal tema</button>
    <button class="button" @onclick="NavigateToRandomTasks">Randomizuotos užduotys</button>
</div>

@code {
    private void NavigateToThematicTasks()
    {
        NavigationManager.NavigateTo("/rasybos/pasirinkimai/temos");
    }

    private void NavigateToRandomTasks()
    {
        NavigationManager.NavigateTo("/rasybos/uzduotys");
    }
}