@page "/uzduotys"
@inject NavigationManager NavigationManager

<div class="button-container">
    <button class="button" @onclick="GoToSpellingTask">Rašybos užduotys</button>
    <button class="button" @onclick="GoToPunctationTask">Skyrybos užduotys</button>
</div>
<div class="container">
    <p>Pasirinkite užduočių tipą aukščiau, kad pradėtumėte mokytis.</p>
</div>

@code {
    private void GoToSpellingTask()
    {
        NavigationManager.NavigateTo("/rasybos/pasirinkimai");
    }

        private void GoToPunctationTask()
    {
        NavigationManager.NavigateTo("/skyrybos/pasirinkimai");
    }
}
