@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    <div class="menubar">
        <NavMenu />
    </div>
    <main>
        <div class="container">
            <div class="card">
                <main role="main" class="pb-3">
                    @Body
                </main>
            </div>
        </div>
    </main>

    <footer class="border-top footer text-muted mt-4">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Lietuvių kalbos mokymosi įrankis -
        </div>
    </footer>
</div>


