@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div class="menubar">
        <NavMenu />
    </div>
    <main>
        <div style="display: flex; justify-content: center;">

            <!-- Empty container for allignment -->
            @if (Navigation.Uri == Navigation.BaseUri)
            {
                <div style="width: 400px; margin: 50px auto"></div>
            }

            <!-- Main content container -->
            <div class="container">
                <div class="card">
                    <main role="main" class="pb-3">
                        @Body
                    </main>
                </div>
            </div>

            <!-- Leaderboard container -->
            @if (Navigation.Uri == Navigation.BaseUri)
            {
                <div class="container" style="width: 400px; height: fit-content">
                    <div class="card">
                            <Leaderboard />
                    </div>
                </div>
            }
        </div>
    </main>

    


    <footer class="border-top footer text-muted mt-4">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Lietuvių kalbos mokymosi įrankis -
        </div>
    </footer>
</div>


