@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="d-flex w-100 justify-content-center">
            <NavLink class="navbar-brand" href="/">Gramatikonas</NavLink>
        </div>
        <div class="d-flex w-100 justify-content-end align-items-center">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <div class="d-flex align-items-center">
                        <NavLink class="navbar-brand" href="/profile">&emsp; @context.User.Identity.Name &emsp;</NavLink>
                        </div>
                        <div class="button-container">
                        <button class="button" @onclick="Logout">Logout</button>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <Login></Login>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        </div>

    </div>
</nav>



@code {
    private void Logout()
    {
        NavigationManager.NavigateTo("logout", true);
    }
}